.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid #14c57c;
  min-width: 375px;
}

.userEmail {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .header {
    gap: 52px;
  }
}
