.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #14c57c;
}

.link {
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  gap: 5px;
  transition: 0.25s ease;
  color: #f9f9f9;
}

.link:hover {
  transform: scale(1.1);
}

.active {
  color: #f9f9f9;
  background-color: #14c57c;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 29px;
  }

  .link {
    font-size: 20px;
  }

  .homeIcon {
    width: 28px;
    height: 28px;
  }
}
