.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.username {
  font-weight: 700;
}

button {
  font-size: 14px;
  color: #f0f0f0;
}

.link {
  font-size: 14px;
  margin-left: 50px;
}

.logout {
  margin-left: 50px;
}
